{% extends "base.html" %}
{% block title %} Search {% endblock %}
{% block header %} Search Product {% endblock %}
{% block content %}
<!--Navbar-->
<nav class="navbar navbar-expand-lg">
    <div>
        <form class="form-inline" method="POST">
            {% csrf_token %}
            <div>
                <input name="query" class="form-control" type="text"
                placeholder="Search/enter price-range" aria-label="Search"
                value="{{search_query}}">
            </div>
        </form>
    </div>
</nav>
<!--/.Navbar-->


<!-- Products tab & slick -->
<div class="col-md-12">
    <div class="row">
        <div class="products-tabs">
            <!-- tab -->
            <div id="tab1" class="tab-pane active">
                <div class="products-slick" data-nav="#slick-nav-1">
                    <!-- product -->
                    {% for product in products %}
                    <div class="product">
                        <div class="product-img">
                            <img src="{{ product.image_url }}" alt="">
                            <div class="product-label">
                                <span class="sale">0%</span>
                                <span class="new">NEW</span>
                            </div>
                        </div>
                        <div class="product-body">
                            <p class="product-category">{{ product.category.name }}</p>
                            <p class="product-category">{{ product.brand.name }}</p>
                            <h3 class="product-name"><a href="#">{{ product.name }}</a></h3>
                            <h4 class="product-price">$ {{ product.price }} </h4>
                        </div>
                        <div class="add-to-cart">
                            <form class="d-flex" action="/cart" method="GET">
                                <!-- Default input -->
                                <input type="hidden" name="id" value="{{product.id}}" />
                                <input type="number" name="qty" value="1" arialabel="
                                Search" class="form-control" style="width: 100px">\
                                <button id="btn-add-to-cart" type="submit" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                            </form>
                        </div>
                    </div>
                    <!-- /product -->
                    {% endfor %}
                </div>
                <div id="slick-nav-1" class="products-slick-nav"></div>
            </div>
            <!-- /tab -->
        </div>
    </div>
</div>
<!-- Products tab & slick -->

{% endblock %}